<div>
    <div *ngIf="errorMessage">´
        {{errorMessage}}
    </div>
    <h1>Register</h1>
    <form #simpleForm="ngForm" (ngSubmit)="register(simpleForm.value)">
        <label>Username:
            <input type="text" ngModel name="username" />
        </label>
        <br />
        <label>Password:
            <input type="password" ngModel name="password" />
        </label>
        <br />
        <button mat-raised-button color="primary">Create</button>
    </form>
    
    <br/>
    <nav>
        <a routerLink="/login">Already have an Account? Login here</a>
    </nav>
</div>